@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", sans-serif;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 2rem;
  --radius-2xl: 4rem;
  --radius-full: 9999px;

  --text-title: #4d4848;
  --text-body: #212121;
  --text-subtitle: #616161;
  --text-primary: #f7913d;

  --background: #ffffff;
  --surface: #f5f5f5;
  --surface-secondary: #f9f6f3;
  --primary-container: #ffe9e0;
  --surface-primary: #f4713b;

  --primary: #f4713b;
  --primary-variant: #f7913d;
  --on-primary: #f9f6f3;
  --secondary-variant: #f9f6f3;
  --secondary: #4d4848;
  --tertiary: #faa83e;

  --border: #e0e0e0;
  --border-secondary: #bdbdbd;
  --border-primary: #faa83e;

  --error: #ff3232;
  --error-light: #ffebee;
  --success: #10d01a;
  --success-light: EAFAE6;
  --info: #1540e9;
  --warning: #e0d70a;

  --modal: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
  --primary-shadow: 4px 8px 0px 0px #f4713b, 0px 4px 0px 0px #f5a03f;
}

body {
  color: var(--text-body);
}

a {
  text-decoration: none;
  color: var(--text-body);
}

a:focus {
  outline-color: var(--border-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  right: 0.75rem;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/regular/times.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
  cursor: pointer;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--border-secondary);
  background-clip: padding-box;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--border);
}

.emoji {
  display: inline-block;
  width: 1em;
  height: 1em;
  object-fit: contain;
  vertical-align: -0.1em;
}

.wrapper {
  max-width: 1280px;
  margin-inline: auto;
  width: 100%;
}

.wrapper-wide {
  max-width: 1440px;
  margin-inline: auto;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: var(--text-title);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

footer nav a {
  text-decoration: none;
  color: var(--text-title);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  @media (max-width: 767px) {
    font-size: 21px;
    line-height: 28px;
  }
  @media (max-width: 424px) {
    font-size: 18px;
    line-height: 24px;
  }
}

nav a:hover,
nav a:focus {
  color: var(--text-primary);
}

#hero-cover {
  position: relative;
  z-index: 1;
}

#hero-cover img {
  display: block;

  @media (max-width: 1023px) {
    max-width: 100%;
  }
}

#hero-cover::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("/images/cover-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

#hero-cover::before {
  content: "";
  position: absolute;
  left: -3rem;
  right: -4rem;
  bottom: 0;
  z-index: -100;
  aspect-ratio: 1;
  border-radius: var(--radius-full);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(250, 168, 62, 0.4) 0%,
    rgba(244, 113, 59, 0.4) 100%
  );
  filter: blur(128px);
  background-position: bottom;
}

.primary-divider {
  width: 50px;
  height: 3px;
  border-radius: 3px;
  background: var(--text-primary);
}

#welcome-video,
#apply,
#courses,
#projects,
#discount,
#newsletter,
#team {
  margin-top: -80px;
  padding-top: 88px;
}

.border-hover {
  transition: all 300ms ease-in-out;
}

.border-hover:hover {
  border-color: var(--border-primary);
  cursor: pointer;
}

.border-hover .img-hover {
  overflow: hidden;
}
.border-hover .img-hover img {
  transition: all 600ms ease-in-out;
  display: block;
}
.border-hover:hover .img-hover img {
  transform: scale(1.05);
}

.text-primary {
  color: var(--text-primary);
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* Marketing */

#marketing-hero-cover {
  position: relative;
  z-index: 1;
}

#marketing-hero-cover::after {
  content: "";
  position: absolute;
  inset: -30px -30px 0px -30px;
  z-index: -1;
  background-image: url("/images/marketing/cover-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
